body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f4f4f4;
}
 
 
#notification {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 5px;
    z-index: 1000;
    transition: opacity 0.5s ease, transform 0.5s ease-in-out;
}
 
.show {
    transform: translateY(0);
    opacity: 1;
}
 
.hide {
    transform: translateY(-20px);
    opacity: 0;
}
 
.success {
    background-color: lightgreen;
    color: green;
}
 
.error {
    background-color: pink;
    color: red;
}
 
 
h1, h2 {
    color: #333;
}
 
section {
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
 
section:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
 
 
input[type=text], input[type=number] {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    width: calc(100% - 22px);
}
 
button {
    padding: 10px 20px;
    background-color:rgb(86, 224, 86);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease-in-out;
}
 
button:hover {
    background-color: rgb(19, 147, 105); /* Une teinte légèrement plus foncée pour le survol */
    transform: translateY(-7px);
}
 
 
button:hover {
    opacity: 0.8;
}
 
#liste-produits, #afficher-stock {
    margin-top: 20px;
}
 
.produit {
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
}
 
/* Animation pour faire apparaître les produits */
@keyframes apparaitre {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
 
.produit {
    animation: apparaitre 0.5s ease-out;
}
 
/* Style pour le menu déroulant de catégorie */
select {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    width: calc(100% - 22px);
    background-color: white;
    cursor: pointer;
}
 
#importer{
    border-radius: 10px;
    background-color: rgb(86, 224, 86);
    padding: 7px 10px 7px 10px;
}

#exporter{
    margin-top: 10px;
}
 
@media (max-width: 768px) {
    body {
        margin: 10px;
        padding: 10px;
    }
 
    h1, h2 {
        font-size: 1.5em; /* Plus petit sur les petits écrans */
    }
 
    input[type=text], input[type=number], select {
        padding: 8px;
        margin: 8px 0;
        width: calc(100% - 18px); /* Ajuster la largeur pour les petits écrans */
    }
 
    button {
        padding: 8px 15px;
        font-size: 0.9em; /* Réduire la taille du texte sur les boutons */
    }
 
    .produit {
        padding: 8px;
    }
}
 
@media (max-width: 480px) {
    h1, h2 {
        font-size: 1.2em;
    }
 
    input[type=text], input[type=number], select {
        width: calc(100% - 16px);
    }
 
    button {
        padding: 7px 10px;
        font-size: 0.8em;
    }
}